body.debug
{
	background: #0f0d0d;
}

body.debug #container
{
	background: #000000;
}

body.debug #box_customers
{
	background: rgba(0,0,255,0.1);
}

body.debug #box_time
{
	background: rgba(255,255,0,0.1);
}

body.debug #box_navigation
{
	background: rgba(0,255,255,0.1);
}

body.debug #box_ingredients
{
	background: rgba(255,0,255,0.1);
}

body.debug #box_plates
{
	background: rgba(255,255,0,0.1);
}

body.debug #box_cauldron
{
	background: rgba(255,0,0,0.1);
}

body.debug #box_description
{
	background: rgba(0,255,0,0.2);
}

body.debug #box_messages
{
	background: rgba(0,0,255,0.2);
}

body.debug #gfx_cauldron
{
	background: #ff00ff;
}

body.debug .customer
{
	background: rgba(0,0,0,0.5);
}

body.debug .customer_picture_background
{
	background: #ff00ff;
}

body.debug #cauldron_content
{
	background: rgba(255,255,0,0.2);
}
