@import url("compassion_by_eeve_somepx/stylesheet.css");

body,
html
{
	padding: 0;
	margin: 32px 64px;
	background: #2e2626;
	color: #9e9090;
	font-family: Compassion, Arial;
	font-size: 32px;
	font-smooth: never;
	-webkit-font-smoothing : none;
}

#messages
{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 200px;
	padding: 32px;
	background: #403535;
}

b, strong
{
	color: #fff;
}

td
{
	padding: 0 48px 0 0;
}

hr
{
	width: 100%;
	border-top: 4px solid #403535;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
}