@import url("compassion_by_eeve_somepx/stylesheet.css");

body,
html
{
	padding: 0;
	margin: 1em 2em;
/* 	background: #2e2626; */
	background: #0f0d0d;
	color: #9e9090;
	font-family: Compassion, Arial;
	font-size: 16px;
	line-height: 1.25em;
	font-smooth: never;
	-webkit-font-smoothing : none;
}

body
{
	padding-bottom: 8em;
	text-shadow: 0.0625em 0.0625em #000000;
}

#container
{
	position: fixed;
	left: 40px;
	top: 40px;
	width: 700px;
	height: 450px;
	background: #2e2626;
}

#messages
{
	position: absolute;
	top: 400px;
	padding: 8px;
	width: 684px;
	height: 34px;
	overflow: hidden;
	background: rgba(0,0,0,0.2);
}

.slot
{
	position: relative;
}


b, strong
{
	color: #fff;
}

td
{
	padding: 0 48px 0 0;
}

hr
{
	margin: 0.5em 0;
	padding: 0;
	width: 100%;
	border-top: 0.25em solid #403535;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
}

button
{
	font-family: Compassion, Arial;
	font-size: 1em;
	margin: 0;
	padding: 0 0.5em;
	border-top: 0.125em solid #756161;
	border-right: 0.125em solid #574848;
	border-bottom: 0.125em solid #574848;
	border-left: 0.125em solid #756161;
	background: #665454;
	/* color: #403535; */
	color: #171313;
	text-decoration: none;
	cursor: pointer;
}

button:focus,
button:hover
{
	outline: 0;
	color: #000000;
	border: 0.125em solid #9e9090;
	background: #856e6e;
}

button:disabled,
button[disabled]
{
	color: #2e2a2a;
	background: #4d4646;
	border-top: 0.125em solid #5c5454;
	border-right: 0.125em solid #3d3838;
	border-bottom: 0.125em solid #3d3838;
	border-left: 0.125em solid #5c5454;
	cursor: default;
}

img
{
	image-rendering: pixelated;
}

#gfx_cauldron
{
	position: absolute;
	left: 0px;
	top: 220px;
}

#cauldron_wood,
#cauldron_main,
#cauldron_fire
{
	position: absolute;
	top: 0;
	left: 0;
	width: 84px;
	height: 84px;
}

#box_cauldron
{
	position: absolute;
	left: 100px;
	top: 220px;
	width: 300px;
	height: 180px;
}

#description
{
	position: absolute;
	left: 400px;
	top: 220px;
	width: 284px;
	height: 160px;
	padding: 8px;
	background: rgba(0,0,0,0.2);
}

.fail
{
	color: #dd0000;
}