@import url("compassion_by_eeve_somepx/stylesheet.css");

html
{
	padding: 0;
	margin: 0;
}

body
{
	padding: 0;
	margin: 1em 2em;
	background: #2e2626;
	color: #9e9090;
	font-family: Compassion, Arial;
	font-size: 16px;
	line-height: 1.25em;
	font-smooth: never;
	-webkit-font-smoothing : none;
	image-rendering: pixelated;
	padding-bottom: 8em;
	text-shadow: 0.0625em 0.0625em #000000;
}

#container
{
	position: fixed;
	left: 10px;
	top: 10px;
	width: 1200px;
	height: 600px;
	background: #2e2626;
}

.slot
{
	position: relative;
}


b, strong
{
	color: #fff;
}

td
{
	padding: 0 48px 0 0;
}

hr
{
	margin: 0.5em 0;
	padding: 0;
	width: 100%;
	border-top: 0.25em solid #403535;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
}

button
{
	font-family: Compassion, Arial;
	font-size: 1em;
	margin: 0;
	padding: 0 0.5em;
	border-top: 0.125em solid #756161;
	border-right: 0.125em solid #574848;
	border-bottom: 0.125em solid #574848;
	border-left: 0.125em solid #756161;
	background: #665454;
	/* color: #403535; */
	color: #171313;
	text-decoration: none;
	cursor: pointer;
}

button:focus,
button:hover
{
	outline: 0;
	color: #000000;
	border: 0.125em solid #9e9090;
	background: #856e6e;
}

button:disabled,
button[disabled]
{
	color: #2e2a2a;
	background: #4d4646;
	border-top: 0.125em solid #5c5454;
	border-right: 0.125em solid #3d3838;
	border-bottom: 0.125em solid #3d3838;
	border-left: 0.125em solid #5c5454;
	cursor: default;
}

.left
{
	float: left;
}

/* TODO: scroll bar customization */

#box_customers,
#box_time,
#box_ingredients,
#box_plates,
#box_cauldron,
#box_description,
#box_messages
{
	background: rgba(0,0,0,0.3);
	position: absolute;
	border-top: 2px solid #000000;
}

#box_customers
{
	left: 0px;
	top: 120px;
	width: 430px;
	height: 460px;
	overflow-x: none;
	overflow-y: auto;
}

#box_time
{
	left: 0px;
	top: 0px;
	width: 200px;
	height: 120px;
}

#box_ingredients
{
	left: 432px;
	top: 0px;
	width: 500px;
	height: 100px;
}

#box_plates
{
	left: 432px;
	top: 100px;
	width: 500px;
	height: 100px;
}

#box_cauldron
{
	left: 432px;
	top: 200px;
	width: 500px;
	height: 180px;
}

#box_description
{
	left: 432px;
	top: 380px;
	width: 500px;
	height: 100px;
}

#box_messages
{
	left: 432px;
	top: 480px;
	width: 500px;
	height: 100px;
	overflow: hidden;
}




#gfx_cauldron
{
	display: block;
	width: 84px;
	height: 84px;
	float: left;
	margin: 0 4px 0 0;
}

#cauldron_wood,
#cauldron_main,
#cauldron_fire
{
	position: absolute;
	left: 0;
	top: 0;
	width: 84px;
	height: 84px;
	display: block;
}

#cauldron_wood
{
	background: url(../images/cauldron_wood.png);
}

#cauldron_main
{
	background: url(../images/cauldron_1.png);
}

#cauldron_fire
{
	background: url(../images/cauldron_fire.png);
}

.fail
{
	color: #dd0000;
}

@keyframes slidein
{
	from
	{
		height: 0px;
		margin-bottom: 0px;
	}
	
	to
	{
		height: 64px;
		margin-bottom: 8px;
	}
}

@keyframes slideout
{
	from
	{
		height: 64px;
		margin-bottom: 8px;
	}
	
	to
	{
		height: 0px;
		margin-bottom: 0px;
	}
}

.customer
{
	margin: 0 0 8px 0;
	width: 400px;
	height: 64px;
	background: rgba(0,0,0,0.5);
	animation-duration: 0.5s;
	animation-name: slidein;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	overflow: hidden;
}

.customer_picture_background
{
	display: block;
	width: 64px;
	height: 64px;
	float: left;
	margin: 0 8px 0 0;
}

.customer_picture
{
	background: url(../images/customer.png);
	display: block;
	width: 64px;
	height: 64px;
}

.clearer
{
	float: none;
	clear: both;
}

#debug_checkbox
{
	position: fixed;
	top: 0;
	right: 0;
}
